<%= page_title t('.recover_password') %>
<% content_for(:structured_data) do %>
	<%= render 'devise/passwords/new/details/structured_data' %>
<% end %>
<% content_for(:meta_tags) do %>
	<%= render 'devise/passwords/new/details/meta_tags' %>
<% end %>
<% content_for :menubar do %>
	<%= render 'devise/shared/menubar', menu: :recover_password %>
<% end %>

<%= render 'terms' %>
<div id="ListRight" style="max-width: 750px;">
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		<div class="WidFlo center background900 Write20"><%= devise_error_messages! %></div>
		<br>
    <div class="Window2">
      <div class="Write20"><%= f.label :email %></div>
      <%= f.email_field :email, autofocus: true, style: "width: 100%", maxlength:200, required: true, placeholder: t('.email') %>
    </div>
		<%= f.submit t('.send'), class: 'Botton div100' %>
  <% end %>
</div>
