<div class="AreaNotifications">
	<div class="notifications">
		<div class="WidFlo">
			<div class="Write30" style="margin-top: 0px;"><%= t('.downloads_count') %>
				<br><font class="Write20 WidFlo hoveron"><%= t('.last_week') %>: <%= @players.size %> <%= t('.downloads_count') %></font>
			</div>
			<div class="close-notifications-icon clickable" alt="close" data-close-popup="true"></div>
		</div>
		<div class="notifications_body">
			<% if @players.any? %>
				<% @players.each do |player| %>
					<div class="WidFlo">
						<div class="badge">
							<%= image_tag "Images/icons/player.png", class: 'icon', alt: 'Player' %>
						</div>
						<div>
							<% if !player.user.nil? %>
								<% user_profile_url = user_url(player.user.username) %>
								<%= link_to player.user.username, user_profile_url, class: 'author' %>
								<%= image_tag('Images/icons/verified_mini.png', alt: t('.verified'), title: t('.verified')) if player.user.verified? %>
							<% else %>
								<div class="hoveron"><i><%= t('.no_logged_user') %></i></div>
							<% end %>
						<div class="hoveron">[<%= player.created_at.to_date %>]</div>
						</div>
					</div>
					<hr>
				<% end %>
			<% else %>
				<div class="Write20 center"><%= t('.no_result') %></div>
			<% end %>
		</div>
	</div>
</div>
