<p><%= @resource.username %>,</p>

<p><%=t('.title')%></p>

<p><%= link_to t('.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%=t('.ignore_email')%></p>
<p><%=t('.reset_info')%></p>